.container{
  padding: 60px;  
}
.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.example-full-width {
  width: 100%;
}
.places_list{
  margin-left: 30px;
  margin-top: 20px;
}
.places{
  margin-left: 30px;
}

button{
  padding:10px;
  color: green;
  font-size: 15px;
  border-radius: 10px;
  width: 80px;
  background-color: white;
  border: 2px solid green;
}

table {
  width: 70%;
  border: 1px solid black;
  border-radius: 10px;
}
th{
  border: 1px solid #ddd;
  padding: 8px;
  background-color:rgb(47, 132, 186);
  color: white;
}
td{
  padding: 10px;
  text-align: left;
}
tbody tr{
  margin-bottom: 15px;
}

