<!-- Main Content -->
<div class="content" role="main">
<!-- <img src={{background_image}}> -->
    <div class='explore'>
    <h1>Explore</h1>
    <div class='explore_text'>
        <p>Explore about your next destination, find out about currency exchange, language and much more ...</p>
        <button [routerLink] = "['/explore']">Let's explore!</button>
    </div>
    </div>
    <div class='locations'>
    <h1>Locations</h1>
    <div class='locations_text'>
        <p>Get to know about possible places to visit</p>
        <button [routerLink] = "['/locations']">Show me around</button>
    </div>
    </div>
    <div class='learn'>
    <h1>Learn</h1>
    <div class='learn_text'>
        <p>Learn about the country, language and culture </p>
        <button [routerLink] = "['/learn']">I want to learn!</button>
    </div>
    </div>
</div>
